<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <Console name="ConsoleLogger" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
        <File name="AppLogger" fileName="./logs/consumer/app.log">
            <PatternLayout>
                <Pattern>%d %p %c{1.} [%t] %m%n</Pattern>
            </PatternLayout>
        </File>
        <File name="KafkaLogger" fileName="./logs/consumer/kafka.log">
            <PatternLayout>
                <Pattern>%d %p %c{1.} [%t] %m%n</Pattern>
            </PatternLayout>
        </File>
    </Appenders>
    <Loggers>
        <Logger name="com.pl.jellytech.yavaconf.kafka.consumer" level="debug" additivity="false">
            <AppenderRef ref="ConsoleLogger"/>
            <AppenderRef ref="AppLogger"/>
        </Logger>

        <Root level="INFO">
            <AppenderRef ref="AppLogger"/>
            <AppenderRef ref="KafkaLogger"/>
            <AppenderRef ref="ConsoleLogger"/>
        </Root>
    </Loggers>
</Configuration>