<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout
                    pattern="%style{%d{ISO8601}}{black} %highlight{%-5level }[%style{%t}{bright,blue}] %style{%C{1.}}{bright,yellow}: %msg%n%throwable" />
        </Console>

        <RollingFile name="AppLogger"
                     fileName="./logs/spring/app.log"
                     filePattern="./logs/spring/$${date:yyyy-MM}/app-%d{-dd-MMMM-yyyy}-%i.log.gz">
            <PatternLayout>
                <pattern>%d %p %C{1.} [%t] %m%n</pattern>
            </PatternLayout>
            <Policies>
                <SizeBasedTriggeringPolicy size="10 MB" />
                <TimeBasedTriggeringPolicy />
            </Policies>
        </RollingFile>
        <RollingFile name="KafkaLogger"
                     fileName="./logs/spring/kafka.log"
                     filePattern="./logs/spring/$${date:yyyy-MM}/kafka-%d{-dd-MMMM-yyyy}-%i.log.gz">
            <PatternLayout>
                <pattern>%d %p %C{1.} [%t] %m%n</pattern>
            </PatternLayout>
            <Policies>
                <SizeBasedTriggeringPolicy size="20 MB" />
                <TimeBasedTriggeringPolicy />
            </Policies>
        </RollingFile>
    </Appenders>

    <Loggers>
        <Root level="info">
            <AppenderRef ref="Console" />
            <AppenderRef ref="AppLogger" />
            <AppenderRef ref="KafkaLogger" />
        </Root>

        <Logger name="org.springframework.kafka" level="debug">
            <AppenderRef ref="KafkaLogger" />
        </Logger>

        <Logger name="com.pl.jellytech.javeloper.spring" level="debug">
            <AppenderRef ref="AppLogger" />
            <AppenderRef ref="Console" />
        </Logger>
    </Loggers>

</Configuration>